
.gradient-img {
    &-card {
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      position: relative;
      padding: 1rem 1.6rem;
      margin-top: 2rem;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          3.47deg,
          #1a1a20 19.3%,
          rgba(37, 37, 45, 0.05) 91.8%
        );
      }
      .text {
        
        z-index: 5;
        line-height: 1.6;
        svg{
          color: $secondary-light;
          transform: translateY(2%);
        }
      }

      &-alt{
        .text{
          padding-top: 0.7rem;
          border-top: 1px solid $text-grey;
          justify-content: center;
          display: flex;
          align-items: end;
          gap: 0.2rem;
        }
      }

      &-links{
        height: 18rem;
      }


      &-sm{
        height: 18rem;
        width: 25rem;
      }
    }
  }
  