.industry{
    &-carousel{
        .owl-item{
            border-top: 1.5px solid $text-grey;
            border-bottom: 1.5px solid $text-grey;
     
            &:not(:last-child){
             border-right: 1.5px solid $text-grey;
            }
        }
    }
    &-tile{
     padding: 2rem;
        min-width: 40rem;
       display: block;
        position: relative;
        height: 35rem;
        &::after{
            content: "";
            pointer-events: none;
            @include full-absolute-div;
            background-image: linear-gradient(0.98deg, rgba(252, 232, 41, 0.44) 6.98%, rgba(0, 0, 0, 0.29) 33.21%, rgba(0, 0, 0, 0.76) 99.66%);
            background-size: contain;
        }

    }

    &-name{
        font-size: 2rem;
        color: $color-white;
        padding-bottom: 1rem;
        border-bottom: 1.5px solid $secondary-light;
        position: relative;
        z-index: 2;
        margin-right: 2rem;
    }

    &-img{
       @include full-absolute-div;
        object-fit: cover;
        object-position: bottom;
    }
    
}