.software {
    &-section {
      text-align: center;
      padding-bottom: 5rem;
    }
  
    &-image {
      width: auto;
      height: 4rem;
      max-width: 75%;
    }
  
    &-row {
     display: grid;
        grid-template-columns: repeat(auto-fit,minmax(23rem, 1fr));
      border-top: 1px solid $border-grey-light;

      @include res(sm){
        grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
      }
    }

    &-light-row{
      display: grid;
         grid-template-columns: repeat(auto-fit,minmax(23rem, 1fr));
       border-top: 1px solid $secondary-light;
 
       @include res(sm){
         grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
       }
     }

    &-block {
      padding: 4rem 0.5rem;
      display: flex;
      border: 1px inset $border-grey-light;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &-light-block {
      padding: 5rem 0;
      display: flex;
      border: 1px solid $secondary-light;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
