.testimonial {
    &-section {
      border-bottom: 1px solid $border-grey-light;
      border-top: 1px solid $border-grey-light;
    }
  
    &-logo {
      @include circle(10rem);
      margin-bottom: 1rem;
    }


    &-card {
      padding: 1.6rem 2.4rem;
      border: 1.5px solid rgba($secondary-light, 0.2);
      position: relative;
      overflow: hidden;
      width: 35rem;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../../assets/img/icons/quote.svg);
        height: 19rem;
        width: 19rem;
        background-size: contain;
        top: -5rem;
        right: -4rem;
        opacity: 10%;
      }

      
    }
  
    &-info {
      margin-top: 2rem;
    }
  }
  