$secondary-light: #FFE600;
$secondary-hover: rgba(#FFE600, 0.1);
$text-dark: #000000;
$color-white:#FFFFFF;
$primary-color-light:#DEDEDE;
$text-grey: #8E8E8E;
$border-grey-light: rgba($text-grey,0.5);
$border-grey: #DADADA;
$grey-bg: #F6F6F6;
$primary-blue-dark: #003D99;
$primary-color-medium: #D3E5FD;
$color-grey: #2E2E38;
$grey-dark: #25252D;
$secondary-dark: #F9E000;


$transition-primary: all 0.25s ease-in-out;
$transition-secondary: all 0.35s cubic-bezier(.22,.68,0,1.71);