.hero-industry-detail, .hero-service-detail{
  background-position: bottom right;
  background-repeat: no-repeat;
 padding-bottom: 4rem;
  background-size: contain;
  position: relative;

  @include res(lg){
    background-size: auto 100%;
    background-position: bottom center;
  }
}

.hero-industry-detail{
    background-image:  radial-gradient(55.89% 81.3% at 81.06% 23.63%, rgba(249, 249, 249, 0.04) 0%, rgba(250, 250, 250, 0.44) 46.35%, #F8F8F8 100%),url(../../assets/img/industry-page-bg.jpg);

    @include res(sm){
      background-image:  radial-gradient(67.55% 93.16% at 98.78% 100.69%, rgba(249, 249, 249, 0.75) 0%, rgba(250, 250, 250, 0.85) 46.35%, rgba(248, 248, 248, 0.9) 100%),url(../../assets/img/industry-page-bg.jpg);
    }

    .hero-industry-content{
        margin-bottom: 25rem;
        border-bottom: 3px solid $secondary-light;
    }
}

.hero-service-detail{
  background-image:  radial-gradient(55.89% 81.3% at 81.06% 23.63%, rgba(249, 249, 249, 0.04) 0%, rgba(250, 250, 250, 0.44) 46.35%, #F8F8F8 100%),url(../../assets/img/services-top-bg.jpg);

  @include res(sm){
    background-image:  radial-gradient(67.55% 93.16% at 98.78% 100.69%, rgba(249, 249, 249, 0.75) 0%, rgba(250, 250, 250, 0.85) 46.35%, rgba(248, 248, 248, 0.9) 100%),url(../../assets/img/services-top-bg.jpg);
  }
  .hero-service-content{
    margin-bottom: 20rem;
    border-bottom: 3px solid $secondary-light;
}
}


.feature {
   
    .feature-content{
      width: 90%;
      margin-right: 2rem;

      @include res(sm){
        width: 100%;
        margin-bottom: 2rem
      }
  
      &-img {
        @include circle(8rem);
        @include flex-center;
        border: 1.5px solid $primary-color-light;
        margin-bottom: 1.5rem;
  
        img {
          width: 50%;
          height: auto;
        }
    }
    }
}

.article-section{

  .col-sm-4{
    display: flex;
  }

.article-img{

  img{
    width: 96%;
    padding-bottom: 2rem;
  }
}

.article-author{
  width: 96%;
  padding-top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .author-img{
    display: flex;
    align-items: center;

  img{
    width: 7rem;
    margin-right: 1rem;
  }
  }
  }
}

.industry-services-section{
  padding-bottom: 4rem;
}
.industry-services{
  &-block {
    margin-top: 2rem;
      border-top: 1px solid $text-grey;
      display: flex;
     
      @include res(md){
        flex-direction: column;
      }

      &-options {
        flex-direction: column;
        gap: 4rem;
        padding:  3rem 0 !important;
        border-right: 1px solid $text-grey;
        min-width: 30rem;

        @include res(md){
          flex-direction: row;
          border-right: 0;
          padding-bottom: 0 !important;
        }

          li {
  
            a {
              padding: 1rem 2.4rem;
              font-family: Manrope;
              font-weight: 600;
              color: $text-grey;
            }
  
            &.ui-tabs-active a {
              background-color: $grey-dark;
              color: $secondary-light;
            }
          }
      }

    }
    
    &-tab{
      padding: 4rem 0 4rem 4rem;
      flex-grow: 1;

      @include res(md){
        padding: 2rem 0;
      }

    }
}